*.o
docs/Makefile
docs/hugs.1
docs/users_guide/Makefile
docs/users_guide/haskell98.sgml
docs/users_guide/hugs_ghc.sgml
docs/users_guide/hugs_only.sgml
docs/users_guide/introduction.sgml
docs/users_guide/license.sgml
docs/users_guide/miscellaneous.sgml
docs/users_guide/options.sgml
docs/users_guide/users_guide.sgml
docs/users_guide/using_hugs.sgml
fptools/stamp-fptools
hugsdir/
src/Makefile
src/config.h
src/ffihugs
src/hugs
src/options.h
src/platform.h
src/runhugs
src/unix/BuildFFI
src/unix/config.log
src/unix/config.status
src/unix/hugs-package
